@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-text {
    color: rgb(255, 255, 255, .6);
    border-radius: 10px;
}

.custom-text:hover {
    color: rgb(255, 255, 255);
    transition: .3s ease;
}

.custom-border {
    color: rgb(255, 255, 255, .6);
    border-radius: 10px;
    border: 2px solid;
    transition: .2s;
}

.custom-border:hover {
    color: rgb(255, 255, 255);
}

.custom-transition {
    transition: .3s;
    margin-top: 5px;
}